/* 
======================================================================================================
======================================================================================================
======================================================================================================

							File created by Sean Toohey 15 January 2016
				Some light touch(ish) adjustments to the SharePoint 2013 environment.

======================================================================================================
======================================================================================================
======================================================================================================
*/

#contentBox{margin-left:0px !important;}
#sideNavBox{display:none !important;}
.ms-breadcrumb-box{display:inline !important;}